<div class="content">
	<div class="row contact-row">
		<ul class="list-group col-sm-6 col-sm-offset-3">
			<li class="list-group-item">
				<a class="btn btn-primary btn-lg btn-block contact-btn" href="mailto:p17dmitry@gmail.com" target="_blank"><i class="fa fa-envelope"></i> email</a>
			</li>
			<li class="list-group-item">
				<a class="btn btn-primary btn-lg btn-block contact-btn" href="https://twitter.com/Eetin" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
			</li>
			<li class="list-group-item">
				<a class="btn btn-primary btn-lg btn-block contact-btn" href="https://www.facebook.com/p17dmitry" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a>
			</li>
			<li class="list-group-item">
				<a class="btn btn-primary btn-lg btn-block contact-btn" href="https://github.com/Eetin" target="_blank"><i class="fa fa-github"></i> Github</a>
			</li>
			<li class="list-group-item">
				<a class="btn btn-primary btn-lg btn-block contact-btn" href="https://www.linkedin.com/in/eetin" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a>
			</li>
			<li class="list-group-item">
				<a class="btn btn-primary btn-lg btn-block contact-btn" href="http://www.freecodecamp.com/eetin" target="_blank"><i class="fa fa-free-code-camp"></i> freeCodeCamp</a>
			</li>
		</ul>
	</div>
</div>