<div class="jumbotron">
  <div class="container">
    <h1>Dmitry Lebedev</h1>
    <p class="lead">
      <img class="avatar img-responsive" src="images/ava.jpg" alt="Dmitry Lebedev">
    </p>
    <p>Full Stack Web Developer</p>
  </div>
</div>

<div class="container">
  <div class="row marketing">
    <h2>About me</h2>
    <p>
        My name is Dmitry. I'm self taught web developer.
        I have completed web development, computer science, artificial intelligence, software engineering,
        data science, game development and other courses on
        <a target="_blank" href="http://www.freecodecamp.com">freeCodeCamp</a>,
        <a target="_blank" href="http://www.coursera.org">Coursera</a>,
        <a target="_blank" href="http://www.edx.org">edX</a>, and 
        <a target="_blank" href="http://www.udacity.com">Udacity</a>.
    </p>
    <p>
        Also I have some familiarity with Unity3d game engine.
    </p>
    <p>
        I code in JavaScript and Java. I also have basic knowledge of Python and C#.
    </p>
  </div>
  <div class="row marketing">
    <h2>Verified Certificates</h2>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="cert in main.certificates">
        <a ng-href="{{cert.url}}">
          {{cert.name}} by {{cert.institution}} on {{cert.provider}}. Certificate earned on {{cert.completionDate}}
        </a>
      </li>
    </ul>
    <p>Now I'm working on <a href="https://www.coursera.org/learn/hybrid-mobile-development">Multiplatform Mobile App Development with Web Technologies</a> course.</p>
    <p>Other courses I successfully finished without verification can be found <a ng-href="https://degreed.com/eetin/index/1#/collection?type=Course">here</a></p>
  </div>
  <div class="row marketing" ng-if="main.workshops.finished.length > 0">
    <h4>I have participated in the following live online workshops:</h4>
    <ul>
      <li ng-repeat="workshop in main.workshops.finished">
        <a ng-href="{{workshop.url}}">{{workshop.name}} on {{workshop.date}}</a>
      </li>
    </ul>
  </div>
  <div class="row marketing" ng-if="main.workshops.future.length > 0">
    <h4>I am planning to attend the following live online workshops:</h4>
    <ul>
      <li ng-repeat="workshop in main.workshops.future">
        <a ng-href="{{workshop.url}}">{{workshop.name}} on {{workshop.date}}</a>
      </li>
    </ul>
  </div>
  <div class="row marketing">
    <div class="col-sm-6">
      <h3>Primary Skills</h3>
      <ul>
        <li ng-repeat="primary in main.skills.primary">
          {{primary}}
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3>Secondary Skills</h3>
      <ul>
        <li ng-repeat="secondary in main.skills.secondary">
          {{secondary}}
        </li>
      </ul>
      <h3>Additional Skills</h3>
      <ul>
        <li ng-repeat="additional in main.skills.additional">{{additional}}</li>
      </ul>
    </div>
  </div>
  <div class="row marketing">
    <h2>Recent Projects</h2>
    <div class="col-md-4 project" ng-repeat="recent in main.portfolio | filter:{recent: true}">
      <h3 class="text-center project-name">{{recent.name}}</h3>
      <img class="img-responsive" ng-src="{{recent.imageUrl}}" alt="{{recent.name}}">
      <ul class="list-inline technologies-long">
        <li class="tech" ng-repeat="tech in recent.technologies">{{tech}}</li>
      </ul>
      <div class="text-center">
        <div class="btn-group" role="group">
          <a class="btn btn-primary" target="_blank" ng-href="{{recent.url}}">View</a>
          <a class="btn btn-success" target="_blank" ng-href="{{recent.sourceUrl}}">View Source</a>
        </div>
      </div>
    </div>
    <h3 class="col-xs-12 text-center">See all my <a ui-sref="projects">projects</a></h3>
  </div>
  <div class="row marketing">
    <h2>Contact me</h2>
    <div class="row contact-button-row">
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a class="btn btn-primary btn-lg btn-block contact-btn" href="mailto:p17dmitry@gmail.com" target="_blank"><i class="fa fa-envelope"></i> email</a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-primary btn-lg btn-block contact-btn" href="https://twitter.com/Eetin" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-primary btn-lg btn-block contact-btn" href="https://www.facebook.com/p17dmitry" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a>
        </div>
      </div>
      <div class="row contact-button-row">
        <div class="col-sm-4">
          <a class="btn btn-primary btn-lg btn-block contact-btn" href="https://github.com/Eetin" target="_blank"><i class="fa fa-github"></i> Github</a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-primary btn-lg btn-block contact-btn" href="https://www.linkedin.com/in/eetin" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-primary btn-lg btn-block contact-btn" href="http://www.freecodecamp.com/eetin" target="_blank"><i class="fa fa-free-code-camp"></i> freeCodeCamp</a>
        </div>
      </div>
    </div>
  </div>
</div>
